/* had to set the top margin on the the section containing the heading tags
to push it below the navigation bar */
#top {
  margin-top: 125px;
}

code {
  font-weight: bold;
}

b {
  color: red;
}

.output {
  color: gray;
}