* {
  padding: 0;
  margin: 0;
  color: gray;
  font-family: monospace;
}

body {
  background-image: url('../images/black_linen_v2.png');
  background-size: cover;
}

a:link {
  color: gray;
}

a:visited {
  color: rgb(94, 110, 117);
}

a:hover {
  color: rgb(144, 165, 191);

}


header {
  display: block;
  text-align: center;
  width: 100%;
}

nav a {
  display: inline-block;
  text-align: center;
  width: 15%;
  font-size: 2.1em;
  font-weight: bold;
  padding: 1em 1em 0em 1em;
  text-decoration: none;
}

#container {
  width: 100%;

}

#face {
  float: left;
  width: 30%;
}
img {
  width: 80%;
  padding-left: 3em;
  padding-top: 5em;
  padding-bottom: 4em;
}

#quip {
  height: 100%;
  font-size:2em;
  text-align: center;
  padding-top: 7em;
  padding-bottom: 6em;
  height: 100%;
}

#name {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.line {
  padding-bottom: 0.25em;
}

footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 1em;
  /*position: fixed;*/
  /*bottom: 0;*/
}